<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Appointment</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <p><a href="{{ url_for('home') }}">Back to Home</a></p>
    <div class="container-fluid">
      <div class='row gx-5 gy-5'>
        <div class='col-6'>
          {%if len_doc > 0 :%}
          <table style="margin-left: 20px">
            <!-- Table headers -->
            <th>
              <tr style="color: green">
                <td>No</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Specialization</td>
                <td>Username</td>
                <td>Appointment Cost</td>
              </tr>
            </th>

            <!-- For loop logic of jinja template -->
            {%for i in range(0, len_doc)%}

            <!-- table rows -->
            <tr>
              <td class="d-none">{{doctors[i]["_id"]}}</td>
              <td>{{i}}</td>
              <td>{{doctors[i]['first_name']}} {{doctors[i]['last_name']}}</td>
              <td>{{doctors[i]['email']}}</td>
              <td>{{doctors[i]['specialization']}}</td>
              <td>{{doctors[i]['username']}}</td>
              <td>{{doctors[i]['appointment_cost'] }}</td>
              <td>
                <form action="{{ url_for('admin_panel') }}" method="post" style="display: inline">
                  <input type="hidden" name="remove_row" value="{{ doctors[i]['username'] }}" />
                  <input
                    name="delete_doctor" value="Delete Doctor"
                    type="submit"
                    class="btn btn-primary"
                  >
                  </button>
                </form>
              </td>
              {%endfor%}
            </tr>
          </table>
          {%elif len_doc == 0 %}
          <p>No doctors found</p>
          {%endif%}
        </div>
        <div class='col-6'>
          <table style="margin-left: 20px">
            <!-- Table headers -->
            <th>
              <tr style="color: green">
                <td>No</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Amka</td>
                <td>Username</td>
              </tr>
            </th>

            <!-- For loop logic of jinja template -->
            {%for i in range(0, len_pat)%}

            <!-- table rows -->
            <tr>
              <td class="d-none">{{patients[i]["_id"]}}</td>
              <td>{{i}}</td>
              <td>{{patients[i]['first_name']}} {{patients[i]['last_name']}}</td>
              <td>{{patients[i]['email']}}</td>
              <td>{{patients[i]['amka']}}</td>
              <td>{{patients[i]['username']}}</td>
              <td>
                <form action="{{ url_for('admin_panel') }}" method="post" style="display: inline">
                  <input type="hidden" name="remove_patient" value="{{ patients[i]['username'] }}" />
                  <input
                    name="delete_patient" value="Delete Patient"
                    type="submit"
                    class="btn btn-primary"
                  >
                  </button>
                </form>
              </td>
              {%endfor%}
            </tr>
          </table>
        </div>
          
        <div class='col-6'>
          <h2>Add Doctor</h2>
          <form method="post" action="{{ url_for('admin_panel') }}">
            <input type="hidden" name="add_doctor"/>
            <p>
              First Name:
              <input type="text" name="first_name" value="Giorgos" required />
            </p>
            <p>
              Last Name:
              <input type="text" name="last_name" value="Papadopoulos" required />
            </p>

            <p>
              Email:
              <input type="email" name="email" value="gpapad@example.com" required />
            </p>
            <p>
              Username:
              <input type="text" name="username" value="gpapad" required />
            </p>
            <p>
              Password <input type="password" name="password" required />
            </p>
            <p>
              Appointment Cost:
              <input type="number" name="appointment_cost" value="60" required />
            </p>
            <label for="specialization">Doctors Specialization:</label>
                    <select id="time" name="specialization" required>
                      <option value="orthopedics">orthopedics</option>
                      <option value="neurology">neurology</option>
                      <option value="cardiology">cardiology</option>
                      <option value="dermatology">dermatology</option>
                      <option value="pediatrics">pediatrics</option>

                    </select>
            <p><input type="submit" name="add_doctor" value="Add Doctor" /></p>
          </form>
        </div>

        <div class='col-6'>
          <h2>Update Password</h2>
          <form method="post" action="{{ url_for('admin_panel') }}">
            <input type="hidden" name="update_password"/>
           
            <p>
              Username:
              <input type="text" name="username" value="gpapad" required />
            </p>
            <p>
              Password <input type="password" name="password" required />
            </p>
            <p><input type="submit" name="upd_psw" value="Update Password" /></p>
          </form>
        </div>
      </div>
</div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>